#blocProd {
    @include box-shadow();
    @include form();

    clear: both;
    width: 100%;
    border: 0;
    border-radius: 0;
    background: none;
    padding: 0;

    .tabs-header {
        background: none;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: $color-main;
        color: white;
        font-weight: normal;
        border-radius: 0;
        height: $element-height * 2;
        line-height: $element-height * 2;

        .ui-state-default {
            padding: 0;
            margin: 0;
            height: auto;
            border: 0;
            background: none;

            a {
                color: rgba(255, 255, 255, 0.6);
                padding: 0;
                padding-right: 20px;
                padding-left: 20px;
                border-right: 1px solid white;
            }

            &.ui-state-active,
            &.ui-state-hover {
                a {
                    color: white;
                }
            }
        }
    }

    .btn.valider.add_ba {
        @include button();
    }

    .visuelProd .title {
        line-height: inherit;
    }
}