$color-main: #ffa726;
$color-grey: grey;
$element-height: 25px;
$res-small-device: 600px;

@mixin box-shadow() {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@mixin button() {
    @include box-shadow();
    background: none;
    background-color: $color-main;
    border-radius: 0;
    border: 0;
    color: white;
    text-align: center;
    padding: 0 10px 0 10px;
    margin: 0;
    height: $element-height;
    vertical-align: middle;
    display: inline-block;
    line-height: $element-height;
}

@mixin small-button() {
    width: 20px;
    height: 20px;
    line-height: 12px;
    padding: 1px;
}

@mixin form() {
    .formrow {
        margin: 0 10px 10px 10px;
        display: block;
        width: 100%;
        clear: both;

        * {
            line-height: $element-height;

            .raw {
                line-height: 20px;
            }
        }

        &.marge {
            margin-bottom: 50px;
        }

        > span > span > span > label {
            display: none;
        }
    }

    label,
    input,
    select,
    textarea,
    span,
    .contForm {
        display: inline-block;
        float: none;
        clear: both;
    }

    label {
        width: 30%;
        color: $color-main;
        font-weight: normal;
        line-height: $element-height;

        @media (max-width: $res-small-device) {
            display: block;
        }
    }

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        outline: none;
        padding: 0;
        height: $element-height;
        outline: none;

        &[disabled] {
            color: $color-grey;
            border-bottom: 1px solid $color-grey;
        }

        &:focus {
            border-bottom: 1px solid $color-main;
        }
    }

    select {
        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        outline: none;
        padding: 0;
        height: $element-height;

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &[disabled] {
            color: $color-grey;
            border-bottom: 1px solid $color-grey;
        }

        &:focus {
            border-bottom: 1px solid $color-main;
        }
    }

    .helptext {
        color: $color-main;
        font-weight: bold;
    }

    textarea {
        width: 90%;
        display: block;
    }
}